
.container{
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
}
.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container nav{
    justify-content: center;
    display: flex;
    margin: 0 auto;
    gap: 90px;
    text-decoration: none;
}
.container nav a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 500;
}
.container img{
    width: 50px;
}
.slogan img{
    border-radius: 10px;
    width: 100%;
}
.produtos{
    margin-left: 10px;
    margin-top: 20px;
}
.produtos h1{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 50px;
}
.produtos h2{
    margin-top: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 40px;
}
.produtos .box-container{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.produtos .box-container .box{
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}
.produtos .box-container .box img{
    border-radius: 15px;
    max-width: 200px;
}